.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  .logo img {
    width: 120px;
    cursor: pointer;
  }

  .btn {
    background-color: #7db34b;
    border-radius: 50px;
    padding: 0.8rem 1.8rem;
    color: white;
    border: none;

    &:hover {
      background-color: #8dc15b;
      color: white;
    }
  }

  .offcanvas {
    background-color: #f8f9fa;
  }

  .offcanvas-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }

  .nav-item {
    margin-right: 2rem;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    background-color: #7db34b;
    border-radius: 5px;
    padding: 5px;
  }

  .nav-link {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.1rem;
    font-weight: 500;

    &:hover {
      color: #7db34b;
    }
  }
}
.offcanvas-header {
  .btn-close {
    color: black !important;
    opacity: 1;
  }

  .btn-close:hover {
    color: #000000 !important;
  }
}
