/* Navbar styles */
.navbar {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: white;

  .logo {
    padding-left: 30px;
    img {
      width: 120px;
      cursor: pointer;
    }
  }

  .right {
    margin-right: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      margin: 0;
      display: flex;

      li {
        margin-right: 70px;

        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.7);
          font-size: 1.1rem;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            color: #7db34b;
          }
        }
      }
    }

    div {
      .btn {
        background-color: #7db34b;
        border-radius: 5rem;
        padding: 0.8rem 1.8rem;
        color: white;

        &:hover {
          background-color: #8dc15b;
          color: white;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .right {
      display: block;
      text-align: center;

      ul {
        flex-direction: column;
        padding: 10px 0;
        margin: 20px 0;
      }

      li {
        margin-right: 0;
        margin-bottom: 10px;
      }

      .btn {
        width: 100%;
        margin-top: 15px;
      }
    }
  }

  @media (max-width: 576px) {
    .logo {
      text-align: center;
      padding: 10px 0;
    }

    .right {
      width: 100%;
      padding: 0 10px;
    }

    ul {
      display: block;
      text-align: center;
    }

    li {
      margin-right: 0;
      margin-bottom: 10px;
    }

    .btn {
      width: 100%;
    }
  }
}
