.footer {
  padding: 3rem 0;
  overflow: hidden;
  background-color: #212529;
  color: #b3b3b3;
  position: relative;
  background-size: cover;
  /* height: auto; */
}

.icon {
  position: absolute;
  left: 75%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 25vw;
  padding-top: 6rem;
}

.uppertext {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.uppertext h1 {
  width: 52%;
  color: #fff;
  font-size: 4rem;
  font-family: "Rufina", serif;
}

.uppertext .btn {
  width: 16%;
  color: #fff;
  z-index: 9;
}

.uppertext .btn button {
  background-color: #7db34b;
  padding: 0.8rem 1.8rem;
  border-radius: 3px;
}

.uppertext .btn button:hover {
  background-color: #8dc15b;
  color: white;
}

.footerdown {
  display: flex;
  justify-content: space-between;
}

.footerdown h3 {
  color: #fff;
}

.footerdown ul {
  padding: 0;
}

.footerdown li {
  margin-bottom: 0.8rem;
}

.footerdown .left-nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footerdown .left-nav .about-us {
  width: 60%;
}

.footerdown .left-nav .links {
  width: 30%;
}

.footerdown .right-nav {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.footerdown .right-nav .employment {
  width: 30%;
}

.footerdown .right-nav .contact-us {
  width: 60%;
  z-index: 9;
}

.fa-brands {
  background-color: #7db34b;
  margin-right: 8px;
  padding: 9px;
  border-radius: 50%;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: black;
  }
}

#fixed-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 90%;
  right: 2rem;
  transform: translateY(-50%);
  z-index: 100;
}

#fixed-icons i {
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.6rem;
  border: 3px solid #fff;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}

#fixed-icons .fa-share-nodes {
  background-color: #212529;
}

#fixed-icons .fa-whatsapp {
  background-color: #7db34b;
}

#fixed-icons i:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .footer {
    height: auto;
    text-align: start;

    .container {
      width: auto;
    }

    .container {
      display: flex;
      flex-direction: column;

      .uppertext {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;

        h1 {
          font-size: 3.5rem;
          width: 90%;
        }
      }

      .uppertext .btn {
        width: 25%;
        margin-top: 1rem;
      }

      .footerdown {
        flex-direction: column;
        align-items: start;
      }

      .footerdown {
        .left-nav {
          width: 100%;
          flex-direction: column;

          .about-us {
            margin-bottom: 1rem;
          }
        }

        .right-nav {
          width: 100%;
          flex-direction: column;
        }
      }
    }
  }
  #fixed-icons {
    right: 1rem;
    top: 92%;
  }

  .icon {
    width: 38vw;
    left: 63%;
    top: 56rem;
  }
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    text-align: start;

    .footer {
      height: auto;
      padding: 1rem 0;

      .container {
        width: auto;
        display: flex;
        flex-direction: column;

        .uppertext {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: flex-start;

          h1 {
            font-size: 3.3rem;
            width: 90%;
          }
        }

        .uppertext .btn {
          font-size: 0.8rem;
          width: 45%;
          margin-top: 1rem;
        }

        .footerdown {
          flex-direction: column;
          align-items: center;
        }

        .footerdown {
          .left-nav {
            width: 100%;
            flex-direction: column;
          }

          .right-nav {
            width: 100%;
            flex-direction: column;
          }
        }
      }

      #fixed-icons {
        right: 0.5rem;
        top: 80%;
      }

      .icon {
        width: 61vw;
        left: 230px;
        top: 60rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .footer {
    height: auto;
    padding: 1rem 0;

    .container {
      display: flex;
      flex-direction: column;

      .uppertext {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;

        h1 {
          font-size: 3rem;
          width: 90%;
        }
      }

      .uppertext .btn {
        font-size: 0.8rem;
        width: 45%;
        margin-top: 1rem;
      }

      .footerdown {
        flex-direction: column;
        align-items: center;
      }

      .footerdown {
        .left-nav {
          width: 100%;
          flex-direction: column;

          .about-us {
            width: 100%;
          }
        }

        .right-nav {
          width: 100%;
          flex-direction: column;
        }
      }
    }
    #fixed-icons {
      right: 0.5rem;
      top: 75%;
    }

    .icon {
      width: 45vw;
    }
  }
}
